{% extends "layout/base.html" %}

{% block title %}Смена пароля{% endblock %}
{% block main %}
<div class="container">

	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">

			<!-- Header -->
			<div class="form-header">
				<h4 class="title mb-3 mt-4 forms_style" id="exampleLabel">Смена пароля</h4>
			</div>

			<!-- Help text -->
			<div class="form-help-text">
				<p class="mb-3 mt-4 forms_style">Забыли свой пароль? Напишите свою почту, и мы вышлем вам инструкцию для смены пароля.</p>
			</div>

			<!-- Body -->
			<div class="form-body">
				<form method="post">

					{% csrf_token %}

					{% for field in form %}
						<label class="forms_style" for="{{ field.auto_id }}">{{ field.label }}</label>
						{{ field }}
					{% endfor %}

					<!-- Footer -->
					<div class="form-footer float-right mt-3">
						<button type="submit" class="btn btn-primary">Отправить</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>

<script>

	var d = document.getElementById("id_email");
	d.className += "form-control";

</script>

{% endblock %}