{% extends "layout/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block main %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
            <h4 class = "forms_style">Сообщение о сбросе пароля отправлено</h3>
            <p class = "forms_style">Мы отправили вам по электронной почте инструкцию по установке пароля.
                Если существует учетная запись с указанным вами адресом электронной почты,
                то вы получите его в ближайшее время.</p>

            <p class = "forms_style">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, 
                на который зарегистрировались, или проверьте папку со спамом.</p>

        </div>
    </div>
</div>

{% endblock %}