{% extends "layout/base.html" %}

{% block title %}Поддержка{% endblock %}

{% block main %}

    <div class="container-xl main err">
        <div class="text_err">Для связи с нами:</div>
        <div class="text_err"><a href="https://vk.com/roof_is_rolling"
                style="font-size: 30px; color: #50B848;">vk.com/roof_is_rolling</a></div>
        <div class="text_err"><a href="https://t.me/Digital_Hamster_bot"
                style="font-size: 30px; color: #4898b8;">t.me/Digital_Hamster_bot</a></div>
    </div>
{% endblock %}